<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ncksnydr.dice</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3C64DAFF-F35B-474B-AB30-F30CBDA1E42F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53A8017B-5E8E-491F-95A9-D84BA23E603D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53A8017B-5E8E-491F-95A9-D84BA23E603D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DD904A0-DB1E-4F6A-96DD-0556CB6ED981</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0BC2194-63FB-4559-9885-D006953D7D07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C64DAFF-F35B-474B-AB30-F30CBDA1E42F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nick Snyder</string>
	<key>description</key>
	<string>A random number generator via dice rolls.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dice Roller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Roll results for {var:raw_string}: {query}</string>
				<key>title</key>
				<string>Dice Roller</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0DD904A0-DB1E-4F6A-96DD-0556CB6ED981</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>roll</string>
				<key>subtext</key>
				<string>Enter a number or D&amp;D dice string (3d20).</string>
				<key>text</key>
				<string>Dice Roller</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0BC2194-63FB-4559-9885-D006953D7D07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>require('dice.php');

$d = new Dice();
$d-&gt;roll('{query}');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53A8017B-5E8E-491F-95A9-D84BA23E603D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>raw_string</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3C64DAFF-F35B-474B-AB30-F30CBDA1E42F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0DD904A0-DB1E-4F6A-96DD-0556CB6ED981</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>3C64DAFF-F35B-474B-AB30-F30CBDA1E42F</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>53A8017B-5E8E-491F-95A9-D84BA23E603D</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>A0BC2194-63FB-4559-9885-D006953D7D07</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://nicksnyder.is</string>
</dict>
</plist>
